:host{
    /* height: 100vh; */
    user-select: none;
}

.mainGrid{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 1rem;
    padding: 0.3rem;
}

.images{
    height: 250px;
    width: 250px;
}

.grid{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 0.3rem;
}

.grids{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.innerGridDiv{
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
}